%div#main-container
  %h1 Welcome!
  %h4 CoreQuest is an EdTech web app that facilitates the planning and teaching process of a Common Core based curriculum. CoreQuest enables teachers to search for and distribute Common Core specific online learning materials by enabling instructors to create "bundles" of resources which can then be shared with and utilized by their students.
  %hr
  =link_to image_tag( 'http://www.corestandards.org/images/logo.jpg'), 'http://www.corestandards.org/'

  %div#ui-widget
    %label{:for => "tags"} Search by Standard:
    %br
    %br
    %input{:id => "tags", :type => "search", :results => 5}
  %div#switch
    %div.switch.small.round
      %input{:id => "z", :name => "switch-z", :type => "radio", :checked => true}
      %label{:for => "z", :onclick => ""}Teacher

      %input{:id => "z1", :name => "switch-z", :type => "radio"}
      %label{:for => "z1", :onclick => ""}Student

      %span

  #subject
    - @subject_list.each do |subject|
      = form_tag search_grade_path, :remote => true do
        = hidden_field_tag :subject, subject
        = submit_tag subject

  #grade

  #topic


/ %script
/   $(document).foundation();


- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {

      var availableTags =  ['#{@availableTags.map(&:to_s).join("', '")}'];
      $( "#tags" ).autocomplete({
        source: availableTags,
        minLength: 3
      });
    });






