%head
  - content_for :extra_javascript do
    :javascript
      $(function() {

        var availableTags =  ['#{@availableTags.map(&:to_s).join("', '")}'];
        $( "#tags" ).autocomplete({
          source: availableTags
        });
        $( "#tags" ).autocomplete({ minLength: 3 });
        var minLength = $( "#tags" ).autocomplete( "option", "minLength" );
      });


%body
  %h1 Welcome!

  %div#ui-widget
    %label{:for => "tags"} Search by Standard:
    %input{:id => "tags", :type => "search", :results => 5}

  / toggle here


  #subject
    - @subject_list.each do |subject|
      = form_tag search_grade_path, :remote => true do
        = hidden_field_tag :subject, subject
        = submit_tag subject

  #grade

  #topic






