/ %head
/   %meta{:charset => "utf-8"}
/   %meta{:name => "viewport", :content => "width=device-width"}

/   %link{:rel => "stylesheet", :href => "/css/normalize.css"}
/   %link{:rel => "stylesheet", :href => "/css/foundation.css"}
/   %link{:rel => "stylesheet", :href => "/css/app.css"}

/   / %script{:src => "/js/vendor/custom.modernizr.js"}



/ %body
%div#main-container
  %h1 Welcome!

  %div#ui-widget
    %label{:for => "tags"} Search by Standard:
    %input{:id => "tags", :type => "search", :results => 5}

  %div.switch.small.round
    %input{:id => "z", :name => "switch-z", :type => "radio", :checked => true}
    %label{:for => "z", :onclick => ""}Teacher

    %input{:id => "z1", :name => "switch-z", :type => "radio"}
    %label{:for => "z1", :onclick => ""}Student

    %span

  #subject
    - @subject_list.each do |subject|
      = form_tag search_grade_path, :remote => true do
        = hidden_field_tag :subject, subject
        = submit_tag subject

  #grade

  #topic


/ %script
/   $(document).foundation();


- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {

      var availableTags =  ['#{@availableTags.map(&:to_s).join("', '")}'];
      $( "#tags" ).autocomplete({
        source: availableTags,
        minLength: 3
      });
    });






