body {
  background-color: #ebede0;
  font-family: sans-serif;

}



#bundle_description {
  margin-left: 30px;
}

*, div {

}

.hidden {
  display: none;
}

#main-container{
  width: 800px;
  height: 1200px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;

}


#main-container button {
background-color: #90bab6;

}
#ui-widget{
  padding: 20px;
}

#ui-widget label{
  padding: 20px;
}
#main-container h1 {
  font-size: 44px;
  padding: 20px;
}

#switch {
padding-left: 200px;
padding-right: 200px;
}
#main-container form {
  font-size: 24px;

  text-align: center;
}

#user_profile_header {
  font-size: 30px;
}

#user_profile_div {
  border: solid 1px;
  border-radius: 5px;
   width: 300px;
  height: 500px;
  margin: auto;
}
#user_profile_div ul {
  margin-top: 20px;

}

#login_nav {

  margin: 0;
  padding: 0;
  float: left;
}

#login_nav li {
  list-style: none;

  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: rgb(47, 46, 46);
  font-size: 12px;
  color: rgb(69, 69, 69);
  height: 60px;
  width: 180px;
  line-height: 26px;
  overflow: hidden;
  float: left;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 0px;

  /*background-color: rgb(241, 196, 15);*/

}

#login_nav li:nth-child(2) {
  /*background-color: rgb(236, 240, 241);*/
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 15px;
  width: 120px;
  padding-bottom: 10px;
}

#login_nav a {
  text-decoration: none;
  font-size: 20px;
  font-color: white;
  text-transform: capitalize;
  color: rgb(241, 196, 15);

}

#login_nav i {
  font-size: 20px;
  padding: 2px;


}
#topbar ul{
position: fixed;
right: 0;
width: 320px;

font-color: white;
}

#topbar li{


}

#main-container{
  margin-top: 50px;
}

.stuff {
  text-align: center;
}

#all-encompassing-div{
  margin-top: 50px;
  float: left;
  width: 100%;
}
.newstuff {
  position:relative;
  float:left;
  width: 150px;
  height: 190px;
  background-color:#90bab6;
  text-align: center;
  size: 14px;
  margin-left: 20px;
  -webkit-box-shadow: 5px  5px 5px rgba(0,0,0,.1);
     -moz-box-shadow: 5px  5px 5px rgba(0,0,0,.1);
          box-shadow: 5px  5px 5px rgba(0,0,0,.1);
  -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}

#main-container img{
  border: 3px solid #90bab6;
}
.newstuff button{
  border: 1px solid white;
  background-color: #ebede0;
  margin-left: 30px;
  margin-right: 30px;

}
.newstuff img {
margin: 0 auto;
min-height: 40px;

padding-left: 20px;
padding-right: 20px;
opacity: 0.3;
}

.newstuff .game {
padding-top: 15px;

}


.newstuff .resource_name a {
  font-size: 16px;
  float:left;

  max-height: 30px;
  margin-bottom: 10px;
  overflow:hidden!important;
  text-decoration: none;

}

.newstuff .resource_name {

  padding-left: 10px;
  padding-right: 10px;

}




.newstuff .add_to_bundle {
  color: red;
  display:none;
}

.newstuff .add_to_favorite {

  position:absolute !important;
  bottom:0;
  margin:0 auto;
  padding-left: 5px;
  padding-right: 5px;
 text-align: center;

}

#bundle_stage form{


}

#bundle_stage {
padding-top: 10px;

}
.bundle_stage_resource{
    width: 150px;
    text-align: center;
    border: 1px solid black;

}
#home_link a {
  text-decoration: none;
  color: #27ae60;
  font-size: 25px;
  float: left;
}

h3 {
font-size: 24px;
color: white;
font-family: sans-serif;
min-height: 40px;
padding: 10px;
}

#container {
  padding-top: 10px;
}

#to_be_bundled_text{
  font-size: 55px;
  opacity: 0.3;
  position: relative;

  text-align: center;
}
.resource.game img {
  opacity: 0.3;
  padding-top: 20px;
  width: 140px;
  height: auto;
}

.resource.arc img {
  opacity: 0.3;
  width: 130px;
  height: auto;
}


#user_info {
  z-index: 12;
  font-size: 16px;
  position: fixed;
  right: 10px;
}

#to_be_bundled {
  width:100%;
  position:fixed;
  background-color:#2c3e50;
  min-height: 150px;
  text-align: center;
  z-index: 10;
}
 form{
  text-align: left;
  padding-left: 20px;

}

.tbb_resource{
  height: 100px;
  width: 100px;
  background-color:red;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;



}

.resource_tiles {
  width: 100%;
  margin: auto;
  /*background-image:url('pool_table.png');*/
  background-image:url('lightpaperfibers.png');
  background-color: #27ae60;
  text-align: center;

}

.resource_tile_list {
  background-color: #ebede0;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  border: 1px solid black;
}

.resource {
  height: 200px;
  width: 200px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 12px  10px 0 rgba(0,0,0,.1);
     -moz-box-shadow: 12px  10px 0 rgba(0,0,0,.1);
          box-shadow: 12px  10px 0 rgba(0,0,0,.1);

  text-align: center;
  background-image:url('binding_dark.png');
}


hr { display: block; height: 2px;
    border: 0; border-top: 2px solid #ebede0;
    margin: 1em 0; padding: 0; }
.isotope-item:hover{
  margin: 10px;
}
.resource_name{
  padding-top: 10px;
  font-color: #ebede0;


}

.resource_name a{
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.resource button {
  display:block;
  background-color: #90bab6;
  position: absolute;
  bottom: 0px;
  height:44px;
  width:44px;
  line-height:40px;
  font-size: 24px;
  border:0;
  text-indent: -9999px;
  color:#111;
  padding:0;
}
.resource button:before {
  display:block;
  width:44px;
  height:44px;
  position:absolute;
  bottom:0;
  left:0;
  color:black;
  text-indent: 0;
  text-align: center;
}

button.add_to_bundle {
  left:0;
}
button.add_to_bundle:before {
  content:'+';
}

button.add_to_favorite {
  right: 0px;
}
button.add_to_favorite:before {
  content:'*';
}
button#bundle_me {


width: 300px;
position: fixed;
right: 10px;
height: 30px;

line-height: 25px;

}


 span#bundle_name {

  width: 260px;
  height: 40px;

  line-height: 25px;



}



#root {
  position: absolute;
  left: 0;
  right: 0;
  width: 360px;
  font-size: 32px;
  letter-spacing: 3px;
  text-align: center;
  box-shadow: inset 2px 2px rgb(226, 182, 7);


}


#topbar {
  background-image:url('lightpaperfibers.png');
  color:#ecf0f1;

  height:60px;

  padding:0;
  position:fixed;
  top:0;
  width:100%;
  margin:0;
  z-index:100;

}

#makeMeScrollable
{
  width: 100%;
  position: relative;
  text-align: center;
  min-height: 120px;
}

/* Replace the last selector for the type of element you have in
   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
#makeMeScrollable div.scrollableArea *
{
  position: relative;
  float: left;

  text-align: center;



  /* If you don't want the images in the scroller to be selectable, try the following
     block of code. It's just a nice feature that prevent the images from
     accidentally becoming selected/inverted when the user interacts with the scroller. */

}

.scrollableArea {
  width: 100%;
  text-align: center;

}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

#show_tiles .resource {
  width: 500px;
  height: 500px;
  border: 1px solid green;
}

#show_tiles .resource img {
  width:70%;
  position:absolute;
  right:70px;
  top: 100px;
}

#show_tiles .resource_name {
  position: absolute;
  right:0px;
  left: 100px;
  top: 40px;
}
.container {
  margin: 0 auto;
  /*padding-left: 250px;
  padding-top: 0px;
  padding-right: 0px;
  right: 0;*/



  height: 480px;
  width:90%;
}

#bundle_stage {
  background-color: #bdc3c7;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 20;
  height: 250px;
  /*background-image:url('purty_wood.png');*/
  background-image:url('binding_dark.png');
  /*box-shadow: inset 2px -2px rgb(226, 182, 7);*/


}

#bundlemenu{
  width: 100%;
  height: 50px;
  z-index: 300;
  margin-top: 250px;
  background-image:url('binding_dark.png');
  box-shadow: inset 0px -2px rgb(226, 182, 7);




}

#namedesc{

  width: 100%;
  text-align: right;



}

#namedesc i {
  color: white;
  font-size: 16px;
}

#namedesc form {
  padding: 10px;
  padding-bottom: 0px;
  margin: 0px auto;


}


#namedesc form input {



      border: 0px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 0 0px 0;
     background: rgba(255,255,255,0.6);

}


#namedesc form input:focus,textarea:focus,select:focus{
 border:1px solid #fafafa;
 -webkit-box-shadow:0 0 6px #007eff;
 -moz-box-shadow:0 0 5px #007eff;
 box-shadow:0 0 5px rgb(241, 196, 15);
 height: 60px;
}

#namedesc a{
  color: white;
}
button#bundle_name, button#bundle_description {

  width: 300px;
  font-size: 16px;
  height: 35px;
  margin-right: 0px;
  padding-right: 0px;
  border: 1px solid red;


}
#bundle_name_field, #bundle_description_field{
  padding-left: 40px;
  text-align: center;

  width: 400px;

}
#bundle_name, #bundle_description{
  padding-left: 40px;
  padding-right: 100px;
  text-align: center;
  padding-bottom: 10px;
  width: 400px;
  color: white;
  height: 60px;
  font-size: 16px;
  opacity: 0.7;
}




#bundle_name a{
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  padding-bottom: 20px;
  width: 400px;
  color: white;
  font-size: 20px;

}

#logout_link {
  padding-top: 10px;
}

.standard_section {
  margin: 0 auto;
  border: 1px solid red;
  padding-left: 5px;
  padding-right: 5px;

}

