body {
  background-color: #ebede0;
  font-family: sans-serif;
}

*, div {

}

#user_profile_header {
  font-size: 30px;
}

#user_profile_div {
  border: solid 1px;
  border-radius: 5px;
 width: 300px;
  height: 500px;
  margin: auto;
}
#user_profile_div ul {
  margin-top: 20px;

}

#login_nav {
  float: right;
}

#login_nav li {
  list-style: none;
  float: left;
  margin-left: 5px;
}


#topbar ul{
position:absolute;
right: 10px;
display: inline;
}

#topbar li{
  display: inline;

}

#main-container{
  margin-top: 50px;
}

.stuff {
  text-align: center;
}

#all-encompassing-div{
  margin-top: 50px;
}
.newstuff {
  position:relative;
  float:left;
  width: 150px;
  height: 190px;
  border: 1px solid black;
  text-align: center;
  size: 14px;

}
.newstuff img {
margin: 0 auto;
min-height: 40px;

padding-left: 20px;
padding-right: 20px;
opacity: 0.3;
}

.newstuff .game {
padding-top: 15px;

}


.newstuff .resource_name a {
  font-size: 16px;
  float:left;

  max-height: 30px;
  margin-bottom: 10px;
  overflow:hidden!important;
  text-decoration: none;

}

.newstuff .resource_name {

  padding-left: 10px;
  padding-right: 10px;

}




.newstuff .add_to_bundle {
  color: red;
  display:none;
}

.newstuff .add_to_favorite {

  position:absolute !important;
  bottom:0;
  margin:0 auto;
  padding-left: 5px;
  padding-right: 5px;
 text-align: center;

}

#bundle_stage form{
  padding-top: 20px;
  text-align:center;
}

.bundle_stage_resource{
    width: 150px;
    text-align: center;
    border: 1px solid black;

}
#home_link a {
  text-decoration: none;
  color: black;
  float: left;
}

h3 {
font-size: 24px;
margin-left: 20px;
}

#container {
  padding-top: 10px;
}

#to_be_bundled_text{
  font-size: 55px;
  opacity: 0.3;
  position: relative;

  text-align: center;
}
.resource.game img {
  opacity: 0.3;
  padding-top: 20px;
  width: 140px;
  height: auto;
}

.resource.arc img {
  opacity: 0.3;
  width: 130px;
  height: auto;
}


#user_info {
  z-index: 12;
  font-size: 16px;
  position: fixed;
  right: 10px;
}

#to_be_bundled {
  width:100%;
  position:fixed;
  background-color:#90bab6;
  min-height: 150px;
  text-align: center;
  z-index: 10;
}
 form{
  text-align: left;
  padding-left: 20px;

}

.tbb_resource{
  height: 100px;
  width: 100px;
  background-color:#ebede0;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;



}

.resource_tiles {
  width: 100%;
  margin: auto;
  background-color: #ebede0;
  text-align: center;

}

#resource_tile_list ul{
  background-color: #ebede0;
  text-align: center;
}

.resource {
  height: 200px;
  width: 200px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color:#cbc8b5;
  text-align: center;
}

.resource_title{
  padding-top: 20px;


}

.resource button {
  display:block;
  background-color: #90bab6;
  position: absolute;
  bottom: 0px;
  height:44px;
  width:44px;
  line-height:40px;
  font-size: 24px;
  border:0;
  text-indent: -9999px;
  color:#111;
  padding:0;
}
.resource button:before {
  display:block;
  width:44px;
  height:44px;
  position:absolute;
  bottom:0;
  left:0;
  color:black;
  text-indent: 0;
  text-align: center;
}

button.add_to_bundle {
  left:0;
}
button.add_to_bundle:before {
  content:'+';
}

button.add_to_favorite {
  right: 0px;
}
button.add_to_favorite:before {
  content:'*';
}
button#bundle_me {
  display:inline-block;
  background-color:#ebede0;
  border: 0px;
  font-size: 16px;
  padding: 0px;

}



#topbar {
  background-color:#90bab6;
  color:#000000;

  height:50px;
  line-height:50px;
  padding:0 20px;
  position:fixed;
  top:0;
  width:100%;
  margin:0;
  margin-bottom: 20px;
  z-index:10;

}

#makeMeScrollable
{
  width: 100%;
  position: relative;
  text-align: center;
  min-height: 120px;
}

/* Replace the last selector for the type of element you have in
   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
#makeMeScrollable div.scrollableArea *
{
  position: relative;


  text-align: center;



  /* If you don't want the images in the scroller to be selectable, try the following
     block of code. It's just a nice feature that prevent the images from
     accidentally becoming selected/inverted when the user interacts with the scroller. */

}

.scrollableArea {
  width: 100%;
  text-align: center;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

