<!DOCTYPE html>
<html>
  <head>
    <title>Grade</title>
  </head>

  <body>

    <% @standard_grades = [] %>
    <% @standards.each do |standard| %>
     <% @grades = standard.grades %>
      <% @grades.each do |grade| %>
        <% if ! @standard_grades.include?(grade.grade) %>
          <% @standard_grades << grade.grade %>
        <% end %>
      <% end %>
    <% end %>

  <form action="/standards/:subject/:grade" method="get">
    <fieldset>
      <legend>Grade</legend>
      <label>Please Choose a Grade</lable>
      <select name=":grade">
        <% @standard_grades.each do |grade| %>
          <option><%= grade %></option>
        <% end %>
      </select>
      <input type="submit" value="Submit">
    </fieldset>
  </form>

  </body>
</html>