<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>

  <body>

    <% @subject_list = [] %>
    <% @standards.each do |standard| %>
      <% if ! @subject_list.include?(standard.subject) %>
        <% @subject_list << standard.subject %>
      <% end %>
    <% end %>

    <form action="/standards/:subject" method="get">
      <fieldset>
        <legend>Subject</legend>
        <label>Please Choose a Subject</lable>
        <select name=":subject">
          <% @subject_list.each do |subject| %>
            <option><%= subject %></option>
          <% end %>
        </select>
        <input type="submit" value="Submit">
      </fieldset>
    </form>

  </body>
</html>




<!-- <label for="name">Stuent?</label>
<input id="name" type="checkbox" name="student[name]">






















....

<select name="make">
  <option value="1">Ford - NEW</option>
  <option value="2">Chevy</option>
</select>

....



rails

foo = params[:make]
# 1



....

<select name="make">
  <option value="Ford">Ford</option>
  <option value="Chevy">Chevy</option>
</select>

....



rails

foo = params[:make]
# "Ford"



....

<select name="make">
  <option>Ford</option>
  <option>Chevy</option>
</select>

....



rails

foo = params[:make]
# "Ford"

















 -->