<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>

  <body>

    <% @subject_list = [] %>
    <% @standards.each do |standard| %>
      <% if ! @subject_list.include?(standard.subject) %>
        <% @subject_list << standard.subject %>
      <% end %>
    <% end %>

    <form action="/standards/:subject" method="get">
      <fieldset>
        <legend>Subject</legend>
        <label>Please Choose a Subject</label>
        <select name=":subject">
          <% @subject_list.each do |subject| %>
            <option><%= subject %></option>
          <% end %>
        </select>
        <input type="submit" value="Submit">
      </fieldset>
    </form>

  </body>
</html>























