<!DOCTYPE html>
<html>
  <head>
    <title>Resources</title>
  </head>

  <body>
  <% @grade_standards = @grade[0].standards %>
  <% @resources = [] %>
  <% @grade_standards.each do |grade_standard| %>
    <% @standards.each do |standard| %>
      <% if grade_standard == standard %>
        <% @resources << standard.resources %>
      <% end %>
    <% end %>
  <% end %>

  <form name="this_form">
    <fieldset>
      <legend>Resources</legend>
      <label>Please Choose a Resource</label>
      <select name=":resource" id=":resource">
        <% @resources.flatten.each do |resource| %>
          <option value=<%= resource.url %>><%= resource.name %></option>
        <% end %>
      </select>
      <input type="button" name="Submit" value="Submit" onClick="window.open(:resource.value,'newtab'+:resource.value)">
    </fieldset>
  </form>

  </body>
</html>