<!DOCTYPE html>
<html>
  <head>
    <title>Resources</title>
  </head>

  <body>
  <% @grade_standards = @grade[0].standards %>
  <% @resources = [] %>
  <% @grade_standards.each do |grade_standard| %>
    <% @standards.each do |standard| %>
      <% if grade_standard == standard %>
        <% @resources << standard.resources %>
      <% end %>
    <% end %>
  <% end %>

  <form action="/index" method="get">
    <fieldset>
      <legend>Resources</legend>
      <label>Please Choose a Resource</label>
      <select name=":resource">
        <% @resources.flatten.each do |resource| %>
          <option><%= resource.name %></a></option>
        <% end %>
      </select>
      <input type="submit" value="Home">
    </fieldset>
  </form>

  </body>
</html>