<!DOCTYPE html>
<html>
  <head>
    <title>Resources</title>
  </head>

  <body>
  <% @grade_standards = @grade[0].standards %>
  <% @resources_standards = [] %>
  <% @grade_standards.each do |grade_standard| %>
    <% @standards.each do |standard| %>
      <% if grade_standard == standard %>
        <% @resources_standards << standard.resources %>
      <% end %>
    <% end %>
  <% end %>

<% binding.pry %>

  <% @resources = [] %>
  <% @resources_standards.each do |resources_standard| %>
    <% @resources << resources_standard.resources %>
  <% end %>
  <% @resources.flatten! %>

  <form action="/standards/:subject/:grade/:topic/:resource" method="get">
    <fieldset>
      <legend>Resources</legend>
      <label>Please Choose a Resource</label>
      <select name=":resource">
        <% @resources.each do |resource| %>
          <option><%= resource.name %></option>
        <% end %>
      </select>
      <input type="submit" value="Submit">
    </fieldset>
  </form>

  </body>
</html>