<form action="/standards/:subject/:grade/:topic/:standard" method="get">
  <fieldset>
    <legend>Standard</legend>
    <label>Please Choose a Standard</label>
    <select name=":standard">
      <% @standard_list.each do |standard| %>
        <option><%= standard %></option>
      <% end %>
    </select>
    <input type="hidden" name=":topic" value=<%= @topic.split(" ").join("+") %>>
    <input type="hidden" name=":subject" value=<%= @subject %>>
    <input type="hidden" name=":grade" value=<%= @grade[0].grade %>>
    <input type="submit" value="Submit">
  </fieldset>
</form>
