<form action="/standards/:subject/:grade/:topic" method="get">
    <fieldset>
      <legend>Topic</legend>
      <label>Please Choose a Topic</label>
      <select name=":topic">
        <% @topic_list.each do |topic| %>
          <option><%= topic %></option>
        <% end %>
      </select>
      <input type="hidden" name=":subject" value=<%= @subject %>>
      <input type="hidden" name=":grade" value=<%= @grade[0].grade %>>
      <input type="submit" value="Submit">
    </fieldset>
  </form>
