<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>

  <body>
    <div class="row">
      <div class="small-4 columns">
        <a href="#" class="button">Math</a>
      </div>
      <div class="small-4 columns"><a href="#" class="button">English</a>
      </div>
    </div>
   <div class="row">
     <div class="small-4 columns">
     </div>
     <div class="small-4 columns">
     </div>
   </div>
   <div class="row">
     <div class="small-4 columns">
     </div>
     <div class="small-4 columns">
     </div>
   </div>
   <div class="row">
     <div class="small-4 columns">
     </div>
     <div class="small-4 columns">
     </div>
   </div>
  </body>
